[bumpversion]
current_version = 3.11.0
commit = False
tag = False

[bumpversion:part:release]
optional_value = ""
values = 
	alpha
	beta
	rc1
	rc2
	rc3

[bumpversion:file:pyproject.toml]

[bumpversion:file:README.md]

[bumpversion:file:corems/__init__.py]
