.pyc  
.pyo  
*.so  
*.pkl  
*.ems
*.sqlite
pyvenv.cfg  
.DS_Store 
__pycache__/  
res/  
corems.egg-info/
corems/libs/
core_env/  
.vscode/
.pytest_cache/
.vs/
res/data/
.eggs/
dist/
build/
tests/
db/
.git/
.pytest_cache/
.ipynb_checkpoints/
.eggs/
