.pyc  
.pyo  
*.so  
*.pkl  
*.ems
*.sqlite
pyvenv.cfg  
.DS_Store 
__pycache__/  
res/  
doc/  
corems.egg-info/  
corems/libs/  
core_env/  
.vscode/  
.pytest_cache/
.vs/
res/data/*
.eggs/*
dist/*
build/
tests/*
tests/test_data/*
support_code/*
db/*

