env/
venv/ 
test_env/ 
venv310/
venvwsl/
tmp_data/ 
tmp_docs/
.pyc  
.pyo
*.hdf5
*.d  
tmp_data/
*.so  
*.pkl  
*.ems
*.sqlite
pyvenv.cfg  
.DS_Store 
__pycache__/  
res/  
doc/coverage_html_report
corems.egg-info/  
corems/libs/  
core_env/  
molformula-data/
.vscode/  
.pytest_cache/
.vs/
res/data/
.eggs/
dist/
build/
.ipynb_checkpoints/
.pytest_cache/
.coverage
neg_esi_srfa_1ppm_test.csv
neg_esi_srfa_1ppm_test.xlsx
tests/tests_data/ftms/ESFA_100k_9767-13548_chB.A_re_pc_Averaged1min.h5
NEG_ESI_SRFA_CoreMS.csv
NEG_ESI_SRFA_CoreMS.hdf5
NEG_ESI_SRFA_CoreMS.json
NEG_ESI_SRFA_CoreMS.xlsx
random.hdf5
storage.h5
NEG_ESI_SRFA_CoreMS.corems/NEG_ESI_SRFA_CoreMS_scan0.csv
NEG_ESI_SRFA_CoreMS.corems/NEG_ESI_SRFA_CoreMS_scan0.json
NEG_ESI_SRFA_CoreMS.corems/NEG_ESI_SRFA_CoreMS_scan0.xlsx
mprofile_*
tests/tests_data/ftms/20190709_WK_CADY_Auto_S16_H1_Post_O5_1_01_36.txt
topics.prof
di-fticr.prof
.pypirc
di-fticr.prof.log
gc-ms.prof
di-fticr-di.prof
di-fticr-transient.prof
test_LF.csv
test_LF.png
test_fig.png
Loss_finder.csv
results/
.devcontainer/devcontainer.json
db/20210203_Peak212_Neg_HR.raw
db/PNNLMetV20201027.MSL
data/ftms_nom_data_products.json
data/ftms_nom_metadata_products.json
data/ftms_nom_nmdc_data.csv
data/nom_failed_files.json
db/molformula.db
.venv/
clr_test/
dev/
r00*/
!ext_lib/ChemstationMSFileReader.*
!ext_lib/dotnet/*.dll
!ext_lib/dotnet/*.xml
ext_lib/
*.egg*
