.pyc  
.pyo  
*.so  
__pycache__/  
*.pkl  
res/  
doc/  
*.ems
.DS_Store 
enviroms/libs/  
env-enviroms/  
enviroms/bokeh_imple/  
enviroms-python/
enviroms-wpython/
pyvenv.cfg  
build_complexity.bat  
.vscode/  
.pytest_cache/
.vs/
dist/  
enviroms.egg-info/  
data/
.eggs/
