numpy>=1.23.5
matplotlib>=3.5.3
pandas>=1.5.3
scipy>=1.10.0
IsoSpecPy==2.0.1
scikit-learn>=1.2.1
openpyxl>=2.6.3
sqlalchemy>=1.4
psycopg2-binary>=2.8.3
h5py>=3.7.0
netCDF4>=1.6.0
lmfit>=1.1.0
lxml>=4.4.1
chardet>=3.0.4
tqdm>=4.43.0
s3path
pyswarm
beautifulsoup4
toml
seaborn>=0.12.2

