beautifulsoup4>=4.12.3
chardet>=5.2.0
h5py>=3.13.0
IsoSpecPy>=2.2.2
lmfit>=1.3.0
lxml>=5.2.0
matplotlib>=3.9.0
ms-entropy>=1.2.2
netCDF4>=1.7.0
numpy>=2.1.0
openpyxl>=3.1.2
pandas>=2.2.2
psycopg2>=2.9.10
pyswarm>=0.6
pythonnet>=3.0.3
pymzml>=2.5.11
requests>=2.32.0
ripser>=0.6.4
s3path>=0.5.0
scikit_learn>=1.5.0
scipy>=1.14.0
seaborn>=0.13.2
setuptools>=72.0.0
SQLAlchemy>=2.0.0
toml>=0.10.2
tqdm>=4.66.0