beautifulsoup4~=4.12.0
chardet~=5.1.0
h5py~=3.8.0
IsoSpecPy~=2.2.2
lmfit~=1.1.0
lxml~=4.9.3
matplotlib~=3.7.0
ms-entropy~=1.2.2
netCDF4~=1.6.3
numpy~=1.24.2
openpyxl~=3.1.1
pandas~=1.5.3
psycopg2~=2.9.10
pyswarm~=0.6
pythonnet~=3.0.1
pymzml~=2.5.2
requests~=2.31.0
ripser~=0.6.4
s3path~=0.4.1
scikit_learn~=1.2.2
scipy~=1.10.1
seaborn~=0.12.2
setuptools~=67.3.3
SQLAlchemy~=1.4.47
toml~=0.10.2
tqdm~=4.64.1